h3 {
    color: blueviolet;
}

#primera-noticia {
    color: green;
    font-size: 12pt;
}

#segunda-noticia {
    color: coral;
}

.encabezado {
    text-transform: uppercase;
}

/*--solo los párrafos
p#primera-noticia{
    color:green;
    font-size:12pt;
}*/

.div-1, .div-2 {
    background-color: red;
    /* display      : block; POR DEFECTO - div tienen display block */
}

.span-1 {
    background-color: aquamarine;
    /* display      : inline; POR DEFECTO - span tienen display inline */
    /* height       : 500px; */
    float: right;
}

.span-2 {
    background-color: aquamarine;
    /* display      : inline; POR DEFECTO - span tienen display inline */
    /* height       : 500px; */
    float: left;
}

.img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

/* https://codepen.io/enxaneta/full/adLPwv */

.flex {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.contenido-1 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

.contenido-2 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: pink;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

/* Posicionamiento relativo - se posiciona en relación al posicionamiento original */
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/* Posicionamiento fijo - se posiciona en relación a la pantalla */
/*.fixed {
   position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}*/

/* Posicionamiento absoluto */
.absolute {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.relative.contenedor {
    width: 300px;
    height: 400px;
    background-color: blue;
}

/* Posicionamiento "pegajoso" - Al hacer scroll modifica su posicionamiento relative->fixed */
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky; /* IE ni Safari soporta sticky */
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}

.contenedor-hidden {
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}

.contenedor-scroll {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
}

.contenedor-visible {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: visible;
}

.contenedor-auto {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: auto;
}

.contenedor-scroll-x {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.imgfriends {
    width: 100vw; /*all el ancho de la pagina*/
    opacity: 0.5;
}
.imgfriends:hover {
    opacity: 1;
}
.galeria {
    display: flex;
    flex-wrap: wrap;/*para que se ajuste al ancho de pantalla*/
    justify-content: space-around;/*para que se alineen y esten separados*/
    gap:10px;/*espacio entre imgnes*/
}
.imagen-galeria {
    width: 300px;
}
.imagen-galeria:hover {
    opacity:0.5;
    cursor:pointer;
}
.fondocontexto{
    display: flex;
    position: relative;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.video {
    width: 100vw;
    opacity: 0.97;
}
#titulo-fondo {
    position: absolute;
    font-family: "Comic Sans MS", serif;
    color: white;
    width: 100%;
}
body section.main .contenedor p {
    color: darkcyan;
}
.contenedor #boton-contenedor {
    background: crimson;
}
* {
    padding: 0;
    margin: 0;
}
.hover {
    width: 300px;
    height: 100px;
    background-color: bisque;
}
.hover:hover { /*cuando el cursor pase por encima*/
    background-color: burlywood;
}
.listado{
    padding: 15px;
    background-color: aquamarine;
}

.listado p:first-child {
    color: white;
}

/*Es necesario el sgte orden de la pseudoclase link para que no se sobreescriban*/
a:link { /*Link no visitado todavía*/
    color:deeppink;
}
a:visited{ /*links ya visitados*/
    color: crimson;
}
a:hover{
    color: pink;
}

a:active {/*Cuando se hace click*/
    color:greenyellow;
}
.contenedor2 {
    width: 300px;
    height: 100px;
    background-color: aquamarine;
}
span.frase {
    font-style: italic;
}

span.frase::before{
    content: '<<';
    font-size: xx-small;
}
span.frase::after{
    content: '>>';
    font-size: xx-small;
}
.libro {
    background-color: bisque;
    padding: 15px;
    font-family: Arial;
}
.libro p::first-letter {
    font-size: xx-large;
}
.libro p::first-line{
    color:white;
}
.libro p::selection{
    background-color: chocolate;
    color:lime;
}
.listado2 li{
    padding: 2px;
    margin: 20px;
}
.listado2 ul li::marker {
    color: red;
}
.listado2 ol li::marker {
    color: orange;
}

.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: beige;
}

.padre:hover .hijo {
    animation: traslacion 3s ease-in-out forwards;
}

@keyframes traslacion {
    0%{
        background-color: beige;
        transform: translateX(0%);
    }
    25%{
        background-color: red;
        transform: translateX(100%);
    }
    50%{
        background-color: green;
        transform: translate(100%,100%);
    }
    75%{
        background-color: cyan;
        transform: translate(0%,100%);
    }
    100%{
        background-color: purple;
        transform: translateY(0%);
    }
}

.div-tooltip {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /*centra los elementos de manera horizontal*/
    align-items: center; /*Centra los elementos verticalmente*/
    min-height: 100vh;
}

.btn-tooltip {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    border-bottom: 2px solid darkgreen;
    cursor:pointer;
    transition: background-color 150ms;
}

.tooltip {
    position: absolute;
    opacity: 0;
    top: -50px;
    left: -100%;
    transform: translateX(25%);
    color: #ddd;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: opacity 150ms;
}

.btn-tooltip:hover {
    background-color: darkslategray;
}

.btn-tooltip:hover .tooltip{
    opacity: 1;
}

.tooltip::before {
    content: '';
    border: solid 10px transparent;
    border-top-color: #333;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

/*.triangulo {
    border: solid 10px transparent;
    border-top-color: #333;
}*/